<?xml version="1.0" encoding="utf-8" ?>

<configuration>

    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    </configSections>

    <appSettings>

        <add key="log4net.Internal.Debug" 
             value="False" />

        <add key="VisualStyles"
             value="True" />

        <add key="MessageDialogs"
             value="MessageDialog.csv" />

        <add key="HelpFile"
             value="Z:\Projekte\Dvd4Sarah\Homepage\doc\index.html" />

    </appSettings>

    <log4net>
        <appender name="MessageBoxAppender" type="Softwarekueche.Dvd4Sarah.Basisklassen.MessageBoxAppender, Dvd4Sarah.Basisklassen">
            <layout type="log4net.Layout.PatternLayout" value="%date [%thread] %-5level %logger [%ndc] &lt;%property{auth}&gt; - %message%newline"/>
            <titleLayout type="log4net.Layout.PatternLayout" value="LoggingEvent: %-5level %logger"/>
            <mapping>
                <level value="DEBUG" />
                <icon value="None" />
            </mapping>
            <mapping>
                <level value="INFO" />
                <icon value="Information" />
            </mapping>
            <mapping>
                <level value="WARN" />
                <icon value="Warning" />
            </mapping>
            <mapping>
                <level value="ERROR" />
                <icon value="Error" />
            </mapping>
            <mapping>
                <level value="FATAL" />
                <icon value="Stop" />
            </mapping>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="ERROR" />
                <levelMax value="FATAL" />
            </filter>
        </appender>

        <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
            <mapping>
                <level value="FATAL" />
                <foreColor value="White" />
                <backColor value="Red, HighIntensity" />
            </mapping>
            <mapping>
                <level value="ERROR" />
                <foreColor value="Red, HighIntensity" />
            </mapping>
            <mapping>
                <level value="WARN" />
                <foreColor value="Red" />
            </mapping>
            <mapping>
                <level value="INFO" />
                <backColor value="Green" />
            </mapping>
            <mapping>
                <level value="DEBUG" />
            </mapping>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="DEBUG" />
                <levelMax value="FATAL" />
            </filter>
        </appender>

        <appender name="FileAppender" type="log4net.Appender.FileAppender">
            <file value="C:\\DvdManager.log" />
            <appendToFile value="false" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date{HH:mm:ss} [%-5level] %logger - %message%newline" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="WARN" />
                <levelMax value="FATAL" />
            </filter>
        </appender>

        <root>
            <level value="DEBUG"/>
            <appender-ref ref="ColoredConsoleAppender" />
            <appender-ref ref="FileAppender" />
            <appender-ref ref="MessageBoxAppender" />
        </root>

        <logger name="Softwarekueche.Dvd4Sarah">
            <level value="DEBUG" />
        </logger>

        <logger name="Softwarekueche.Dvd4Sarah.Basisklassen.BindableIList`1">
            <level value="INFO" />
        </logger>

    </log4net>

</configuration>
